#curriculo{
    text-align: center;
    background-color: rgb(192, 144, 237);
    border-radius: 10px;
}

#info{
    text-align: center;
    background-color: rgb(192, 144, 237);
    border-radius: 10px;
}

#body{
    background-color: blueviolet;
}
#imgcurriculo{
    border-radius: 50%;
    margin: auto;
    display: block;
    
    
}

#button1{
    background-color: greenyellow;
    color:black;
}

#button2{
    background-color: rgb(53, 255, 255);
    color:black;
    margin: 5px; 
}

#button3{
    background-color: rgb(255, 217, 47);
    color:black;
}




