@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>on the subject of, or connected with:
go on about He's always going on about what a great job he has.
there's something about There's something about her attitude that worries me.
what about it "Is that your car?" "Yes, what about it?"
while someone is about it UK informal Could you make me a coffee too while you're about it (= while you are making one for yourself)?
What's that book about?
a film about the Spanish Civil War
We were talking/laughing about Sophie.
I'm worried about David.
I really don't know what all the fuss is about.
What didn't you like about the play?
There's something special/strange/unique about him (= in his character)..</p>

<img src="https://www.ieee.org/content/dam/ieee-org/ieee/web/org/landing-page-carousel/globe.jpg" />

