@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<p>Word forms: plural, 3rd person singular present tense contacts , present participle contacting , past tense, past participle contacted
1. uncountable noun B1
Contact involves meeting or communicating with someone, especially regularly.
Opposition leaders are denying any contact with the rebels. [+ with]
He forbade contact between directors and executives outside his presence. [+ between]
Synonyms: communication, link, association, connection   More Synonyms of contact
</p>


<img src="https://cdn.pixabay.com/photo/2016/12/15/12/24/contact-us-1908762_640.png"</img>