@{
    ViewData["Title"] = "Service";
}
<h1>@ViewData["Title"]</h1>

<p>countable noun B1
A service is something that the public needs, such as transport, communications facilities, hospitals, or energy supplies, which is provided in a planned and organized way by the government or an official body.
Britain still boasts the cheapest postal service.
We have started a campaign for better nursery and school services.
The authorities have said they will attempt to maintain essential services</p>


<img src="https://digitales.re/wp-content/uploads/2020/01/feature1.png"</img>
